// Variable overrides


// color
$primary-dark:   #1b9e3e !default;
$primary:        #2eb85c !default;
$primary-50:     #96dbad !default;
$primary-25:     #cbedd6 !default;

// sidebar
$sidebar-dark-bg: #1a262b !default;

$sidebar-dark-nav-link-active-bg:          rgba(255, 255, 255, 0.14) !default;
$sidebar-dark-nav-link-active-borders:     0 !default;